html, body {
  width:100vw;
  height: 100vh;
  margin:0;
  padding:0;
}

.adventDoor {
  display:flex;
  justify-content: left;
  background: transparent;
  border: 3px solid black;
  font-size: 30px;
  color:white;
  font-weight: bold;
  line-height: 40px;
  height: 200px;
  width: 200px;
  margin: 10px;
  padding: 0;
  
}

.adventDoor:hover{
  cursor:pointer;
  color:black;
  background-color: rgb(25,25,25,0.8)
}

.adventDoor img {
  width:100%;
  height:100%;
}

.adventBoard{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  overflow-y:auto;
  height:100vh;
}
